<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="/stylesheets/admin/admin.css">
<script type="text/javascript" src="/javascripts/admin/addProduct.js"></script>

<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row" style="margin-top:2%; padding-left:15%; padding-right:15%">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Add Product</h3>
                <div class="row">
                    <form method="post">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="sel1">Department:</label>
                                        <select name="department" id="typeOfDepartment" class="form-control">
                                            <option value="ladies">Ladies</option>
                                            <option value="men">Men</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="sel1">Category:</label>
                                        <select name="category" id="typeOfCategory" class="form-control">
                                            <option value="dresses">Dresses</option>

                                        </select>

                                    </div>

                                    <div class="form-group">
                                        <label for="sel1">Subcategory:</label>
                                        <select name="subcategory" id="typeOfSubcategory" class="form-control">
                                            <option value="short dresses">Short Dresses</option>
                                            <option value="midi dresses">Midi dresses</option>
                                            <option value="bodycon">Bodycon</option>
                                        </select>
                                    </div>


                                    <div class="form-group">
                                        <input id="title" name="productname" type="text" class="form-control"
                                            placeholder="Product Name" style="width:330px">
                                    </div>
                                    <div class="form-group">
                                        <input name="price" id="detail" type="text" class="form-control" placeholder="Price"
                                            style="width:330px">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="detail" placeholder="Detail" style="width:330px; height:100px"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="description" placeholder="Description" style="width:330px; height:200px"></textarea>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <label>Pictures</label>
                                    <input type="text" name="pics" placeholder="Image 1..." class="form-control">
                                    <input type="text" name="pics" placeholder="Image 2..." class="form-control">
                                    <input type="text" name="pics" placeholder="Image 3..." class="form-control">
                                    <input type="text" name="pics" placeholder="Image 4..." class="form-control">
                                    <input type="text" name="pics" placeholder="Image 5..." class="form-control">
                                    <br>

                                    <label>Size</label>
                                    <input type="text" name="size" placeholder="Size 1..." class="form-control">
                                    <input type="text" name="size" placeholder="Size 2..." class="form-control">
                                    <input type="text" name="size" placeholder="Size 3..." class="form-control">
                                    <input type="text" name="size" placeholder="Size 4..." class="form-control">
                                    <input type="text" name="size" placeholder="Size 5..." class="form-control">
                                    <br>

                                    <label>Color</label>
                                    <input type="text" name="color" placeholder="Color 1..." class="form-control">
                                    <input type="text" name="color" placeholder="Color 2..." class="form-control">
                                    <input type="text" name="color" placeholder="Color 3..." class="form-control">
                                    <input type="text" name="color" placeholder="Color 4..." class="form-control">
                                    <input type="text" name="color" placeholder="Color 5..." class="form-control">
                                    <br>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="payment-adress">
                                            <button type="submit" id="submitBth" class="btn btn-primary waves-effect waves-light">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>