<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/admin/addProduct.js"></script>
<link rel="stylesheet" href="/stylesheets/admin/admin.css">

<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row" style="margin-top:2%; padding-left:15%; padding-right:15%">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Order</h3>
                <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Payment ID</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Total</th>
                      <th scope="col">Order Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
</div>
