<link rel="stylesheet" type="text/css" href="/stylesheets/user/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="/javascripts/user/updateProfile.js"></script> {{#if hasErrors}}
<div class="alert alert-danger">
	{{# each messages }}
	<p>{{this}}</p>
	{{/each}}
</div>
{{/if}} {{# if login}}


<div class="w3-bar w3-black w3-auto" style="width:750px">
	<button class="w3-bar-item w3-button" onclick="openTab('Profile')">Profile</button>
	<button class="w3-bar-item w3-button" onclick="openTab('Orders')">Orders</button>
</div>
<center>
	<span class="profile-picture">
		<img class="editable img-responsive" alt="Avatar" id="profile-pic" style="width:150px;" src="{{ session.user.profilePic }}">
		<div class="chooseFile" hidden>
			<form enctype="multipart/form-data" name="fileinfo" action="/user/upload-pic/" method="post">
				<input name="profilePic" type="file" id="my-file" />
				<button class="btn btn-sm btn-block btn-success" type="submit">
					<span class="bigger-110">UPLOAD</span>
				</button>
			</form>
		</div>
	</span>

</center>

<center>
	<button class="btn btn-sm btn-primary" id="edit-image">
		<span class="bigger-110">Change Image</span>
	</button>
</center>
<br>


<div id="Profile" class="w3-auto user up" style="width:650px">


	<div id="user-profile-2" class="user-profile tab-content no-border padding-24" style="width:650px">
		<form action="/user/profile" method="post" style="width:650px">
			<div class="row" style="width:650px">
				<div class="col-xs-12 col-sm-3 center">

					<div class="space space-4"></div>
					<button href="#" class="btn btn-sm btn-block btn-danger" id="editBtn">
						<i class="ace-icon fa fa-plus-circle bigger-120"></i>
						<span class="bigger-110">Edit</span>
					</button>
					<button class="btn btn-sm btn-block btn-success" type="submit" id="saveBtn">
						<span class="bigger-110">Save</span>
					</button>
				</div>
				<!-- /.col -->
				<div class="col-xs-12 col-sm-9" style="width:400px">
					{{!--
					<h3 class="overrided-h3">
						<span class="middle black">{{ session.user.firstName }}</span>
					</h3> --}}
					<div class="profile-user-info">
						<div class="profile-info-row">
							<div class="profile-info-name">Email</div>
							<div class="profile-info-value">
								<span>{{ session.user.email }}</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">Firstname</div>
							<div class="profile-info-value">
								<input name="firstName" value="{{ session.user.firstName }}" disabled>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">Lastname</div>
							<div class="profile-info-value">
								<input name="lastName" value="{{ session.user.lastName }}" disabled>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">
								<i class="fa fa-map-marker light-orange bigger-110"></i>
								Address
							</div>
							<div class="profile-info-value">
								<input name="address" value="{{ session.user.address }}" disabled>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">City</div>
							<div class="profile-info-value">
								<input name="city" value="{{ session.user.city }}" disabled>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">State</div>
							<div class="profile-info-value">
								<input name="state" value="{{ session.user.state }}" disabled>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">Zip</div>
							<div class="profile-info-value">
								<input name="zip" value="{{ session.user.zip }}" disabled>
							</div>
						</div>
					</div>
					<div class="hr hr-8 dotted"></div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</form>
	</div>
</div>
<div id="Orders" class="w3-auto user od" style="display:none">
	{{# each orders }}
	<div class="panel panel-default" style="margin-top:2%; padding:2%">
		<p>Payment ID: {{paymentId}}</p>
		<p>Location: {{this.address}}</p>
		<p>Receiver: {{name}}</p>
		{{!--
		<p>Date: {{}}</p> --}}
		<div class="panel-body">
			<ul class="list-group">
				{{# each this.items }}
				<li class="list-group-item">
					<span class="badge">{{ this.price }}</span>
					{{ this.item.title }} | {{ this.qty }} Units
				</li>
				{{/each}}
			</ul>
		</div>
		<div class="panel-footer">
			<strong>Total Price: ${{ this.cart.totalPrice }}</strong>
		</div>
	</div>
	{{/each}} {{/if}}
</div>

{{!-- ex.tab --}} {{!--
<div id="Tokyo" class="w3-container city" style="display:none">
	<h2>Tokyo</h2>
	<p>Tokyo is the capital of Japan.</p>
</div> --}}
<script>
	function openTab(user) {
		var i;
		var x = document.getElementsByClassName("user");
		for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";
		}
		document.getElementById(user).style.display = "block";
	}
</script>