<link rel="stylesheet" href="/stylesheets/user/epay.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="row">
  <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">{{messages}}</div>
  <form method="post" action="/checkout" id="checkout-form">
    <div class="form-group col-md-3"></div>
    <div class="col-md-3 center">
      <h3>Billing Address</h3>
      <label for="fname">
        <i class="fa fa-user"></i> Full Name</label>
      <input type="text" id="fname" name="firstname" value="{{ session.user.firstName }} {{ session.user.lastName }}" required>
      <div class="valid-tooltip"></div>
      <label for="email">
        <i class="fa fa-envelope"></i> Email</label>
      <input type="text" id="email" name="email" value={{ session.user.email }} required>
      <div class="valid-tooltip"></div>
      <label for="adr">
        <i class="fa fa-address-card-o"></i> Address</label>
      <input type="text" id="adr" name="address" value={{ session.user.address }} required>
      <div class="valid-tooltip"></div>
      <label for="city">
        <i class="fa fa-institution"></i> City</label>
      <input type="text" id="city" name="city" value={{ session.user.city }} required>
      <div class="valid-tooltip"></div>
      <div class="row">
        <div class="col-50">
          <label for="state">State</label>
          <input type="text" id="state" name="state" value={{ session.user.state }} required>
          <div class="valid-tooltip"></div>
        </div>
        <div class="col-50">
          <label for="zip">Zip</label>
          <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            id="zip" name="zip" maxlength="5" value={{ session.user.zip }} required>
          <div class="valid-tooltip"></div>
        </div>
      </div>
    </div>

    <div class="col-md-3 center">
      <h3>Payment</h3>
      <label for="fname">Accepted Cards</label>
      <div class="icon-container">
        <i class="fa fa-cc-visa" style="color:navy;"></i>
        <i class="fa fa-cc-amex" style="color:blue;"></i>
        <i class="fa fa-cc-mastercard" style="color:red;"></i>
        <i class="fa fa-cc-discover" style="color:orange;"></i>
      </div>
      <label for="cname">Name on Card</label>
      <input type="text" id="cname" name="cardname" placeholder="" value="" required>
      <div class="valid-tooltip"></div>
      <label for="ccnum">Credit card number</label>
      <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        id="ccnum" name="cardnumber" maxlength="16" placeholder="xxxx-xxxx-xxxx-xxxx" value="" required>
      <div class="valid-tooltip"></div>
      <label for="expmonth">Exp Month</label>
      <input type="text" id="expmonth" name="expmonth" placeholder="July" value="" required>
      <div class="valid-tooltip"></div>
      <div class="row">
        <div class="col-50">
          <label for="expyear">Exp Year</label>
          <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            id="expyear" name="expyear" maxlength="4" placeholder="20xx" value="" required>
        </div>
        <div class="col-50">
          <label for="cvv">CVC</label>
          <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            id="cvv" name="cvv" maxlength="3" placeholder="xxx" value="" required>
          <div class="valid-tooltip"></div>
        </div>
      </div>

    </div>
    <div class="form-group col-md-3"></div>
    <center>
      <input type="submit" class="btn" value="Buy now">
    </center>
    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 95%;">
  </form>

</div>
<div class="row">
  <div class="col-md-5 cart container center">
    <h4>Cart
      <span class="price" style="color:black">
        <i class="fa fa-shopping-cart"></i>
      </span>
    </h4>
    {{#each products}}
    <p>
      <span>{{this.item.title}} Amount: {{this.qty}}</span>
      <span class="price">${{this.price}}</span>
    </p>
    {{/each}}
    <hr>
    <p>Total
      <span class="price" style="color:black">
        <b>${{totalPrice}}</b>
      </span>
    </p>
  </div>
</div>


<div class="row btn-wrapper">
  <form method="post">
    <input formaction="/checkout-paypal" class="btn" type="submit" value="Checkout with PayPal">
  </form>
</div>
<br>

<script src="https://js.stripe.com/v2/"></script>
<script src="/javascripts/shop/checkout.js"></script>