<link href="stylesheets/shop/home.css" rel="stylesheet">
<link href="stylesheets/loader/loader.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Loader -->

{{!-- <div class="loading-wrapper">
  <div style="color: #8B0000" class="loading la-ball-scale-multiple la-3x">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
  </div>
</div>  --}}


<div class="w3-content" style="max-width:100%">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
            <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
                {{ successMsg }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="width:99%;">
            <div class="hovereffect">
                <img class="img-responsive shop" src="https://i.imgur.com/funaunm.jpg" alt="Responsive image">
                <div class="overlay">
                    <a class="info" href="/page/1">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-4">
            <div class="hovereffect-season">
                <img class="img-responsive" src="https://imgur.com/Fg01TAt.jpg" alt="Responsive image">
                <div class="overlay-season">
                    <a class="info" href="#">NEW ARRIVAL</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-4">
            <div class="hovereffect-season">
                <img class="img-responsive" src="https://imgur.com/BvAigUc.jpg" alt="">
                <div class="overlay-season">
                    <a class="info" href="/product/ladies/page/1">LADIES</a>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-lg-6 col-md-4">
            <div class="hovereffect-season">
                <img class="img-responsive" src="https://imgur.com/q1zJ4Fu.jpg" alt="Responsive image">
                <div class="overlay-season">
                    <a class="info" href="/product/men/page/1">MEN</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-4">
            <div class="hovereffect-season">
                <img class="img-responsive" src="https://imgur.com/R2UesG2.jpg" alt="">
                <div class="overlay-season">
                    <a class="info" href="/product/kids/page/1">KIDs</a>
                </div>
            </div>
        </div>
    </div>

    <!--Carousel Wrapper-->
    <div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
        <video class="video-fluid" autoplay loop muted>
            <source src="https://imgur.com/Fkll1Ss.mp4" type="video/mp4" width="1200px" height="800px" />
        </video>
        </div>
    </div>
    <!--/.Slides-->

    </div>
<!--Carousel Wrapper-->
</div>
