<link rel="stylesheet" href="/stylesheets/shop/shop.css">
<script type="text/javascript" src="/javascripts/shop/shop.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/shop/filter.js"></script>

<body>
    {{#if this.categories }}
    <div class="col-sm-3">
        <ul class="navbar-left">
            <label class="category">{{toUpperCase this.department}}</label>
            <br>
            <li>
                <a href="#" class="subcategory">VIEW ALL</a>
            </li>
            <br>
            <label class="category">SHOP BY CATEGORY</label>
            <br>
            <label id="chaps">
                {{#each categories}}
                <li class="subcategory">
                    <a href="/product/ladies/{{toLowerCase @key}}/page/1" class="subcategory">{{toUpperCase @key}}</a>
                    <ul class="assignments">
                        {{#each this}}
                        <li>
                            <a href="{{this}}" class="subcategory">{{toUpperCase @key}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </li>
                {{/each}}
            </label>
        </ul>
    </div>
    {{/if}}
</body>

<div class="col-sm-9">
    {{!-- product --}}
    <div class="row">
        <button class="dropbtn">FILTER
            <span class="caret"></span>
        </button>
        {{!--
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Artist
            <span class="caret"></span>
        </a> --}}
        <div class="dropdown-content">
            <label class="color">COLOR</label>
            <br>
            <input class="black" type="button" onclick="bthClikedFilter('Black');" />
            <input class="white" type="button" onclick="bthClikedFilter('White');" />
            <input class="red" type="button" onclick="bthClikedFilter('Red');" />
            <input class="blue" type="button" onclick="bthClikedFilter('Blue');" />
            <input class="yellow" type="button" onclick="bthClikedFilter('Yellow');" />
            <br>
            <label class="color">SIZE</label>
            <br>
            <input class="signatureColor" type="button" value="XS" onclick="bthClikedFilter('XS');" />
            <input class="signatureColor" type="button" value="S" onclick="bthClikedFilter('S');" />
            <input class="signatureColor" type="button" value="M" onclick="bthClikedFilter('M');" />
            <input class="signatureColor" type="button" value="L" onclick="bthClikedFilter('L');" />
            <input class="signatureColor" type="button" value="XL" onclick="bthClikedFilter('XL');" />
            <br>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 95%;">
            <input class="clearfilter" id="clearBth" onclick="clearfilter();" type="button" value="CLEAR FILTERS" />
            <input class="apply" style="display:none;" id="filterBtn" onclick="filter()" type="button" value="APPLY" />
        </div>
        <br>
        <label class="numitem">15 ITEMS</label>
        <br>

        <span class="color-filter">
            <button type="button" style="display:none;" class="btn btn-dark" id="Black">Black</button>
            <button type="button" style="display:none;" class="btn btn-default" id="White">White</button>
            <button type="button" style="display:none;" class="btn btn-danger" id="Red">Red</button>
            <button type="button" style="display:none;" class="btn btn-primary" id="Blue">Blue</button>
            <button type="button" style="display:none;" class="btn btn-warning" id="Yellow">Yellow</button>
            <span class="size-filter">
                <input class="signatureColor" style="display:none;" type="button" id="XS" value="XS" />
                <input class="signatureColor" style="display:none;" type="button" id="S" value="S" />
                <input class="signatureColor" style="display:none;" type="button" id="M" value="M" />
                <input class="signatureColor" style="display:none;" type="button" id="L" value="L" />
                <input class="signatureColor" style="display:none;" type="button" id="XL" value="XL" />
            </span>
        </span>

        <br> {{!--
        <div class="custom-select" style="width:200px;">

            <select>
                <option value="0">NEW IN</option>
                <option value="1">BEST MATCH</option>
                <option value="2">PRICE LOW TO HIGH</option>
                <option value="3">PRICE HIGH TO LOW</option>
            </select>
        </div> --}}
        <br>
        <div class="products">
            {{#each products}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="/product/{{_id}}">
                        {{#with pics}}
                        <div class="pic">
                            <img id="thumbnail" src="{{ this.[0] }}" class="image">
                            <div class="overlay">
                                <img id="thumbnail" src="{{ this.[3] }}" class="image2">
                            </div>
                        </div>
                        {{/with}}
                    </a>
                    <div class="caption">
                        <a href="/product/{{_id}}" class="title">{{ title }}</a>
                        <p class="price">฿{{ price }}</p>
                        <div class="colorlist">
                            {{#each color}}
                            <input id="colorShow" class="{{toLowerCase this}}" type="button" title="{{this}}" disabled /> {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="pagination center">
        <ul class="pagination">
            {{#paginate pagination type="first"}}
            <li {{#if disabled}} class="page-item disabled" {{/if}}>
                <a class="page-link" href="{{n}}">First</a>
            </li>
            {{/paginate}} {{#paginate pagination type="previous"}}
            <li {{#if disabled}} class="page-item disabled" {{/if}}>
                <a class="page-link" href="{{n}}">Prev</a>
            </li>
            {{/paginate}} {{#paginate pagination type="middle" limit="7"}}
            <li {{#if active}} class="page-item active" {{/if}}>
                <a class="page-link" href="{{n}}">{{number}}</a>
            </li>
            {{/paginate}} {{#paginate pagination type="next"}}
            <li {{#if disabled}} class="page-item disabled" {{/if}}>
                <a class="page-link" href="{{n}}">Next</a>
            </li>
            {{/paginate}} {{#paginate pagination type="last"}}
            <li {{#if disabled}} class="page-item disabled" {{/if}}>
                <a class="page-link" href="{{n}}">Last</a>
            </li>
            {{/paginate}}
        </ul>
    </div>
</div>

<span id="filtered">
    {{#each filter}} {{#each this}}
    <input type="hidden" value="{{ this }}"> {{/each}} {{/each}}
</span>

<script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });

    $("#chaps > li").click(function () {
        $(this).find("ul.assignments").toggleClass('hide');
    });

    $(document).ready(function () {
        $('.dropbtn').click(function () {
            $('.dropdown-content').slideToggle();
        });
    });

    /*dropdown custom select*/
    var x, i, j, selElmnt, a, b, c;
    x = document.getElementsByClassName("custom-select");
    for (i = 0; i < x.length; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 0; j < selElmnt.length; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function (e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                h = this.parentNode.previousSibling;
                for (i = 0; i < s.length; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                        s.selectedIndex = i;
                        h.innerHTML = this.innerHTML;
                        y = this.parentNode.getElementsByClassName("same-as-selected");
                        for (k = 0; k < y.length; k++) {
                            y[k].removeAttribute("class");
                        }
                        this.setAttribute("class", "same-as-selected");
                        break;
                    }
                }
                h.click();
            });
            b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function (e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
        /*a function that will close all select boxes in the document,
        except the current select box:*/
        var x, y, i, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        for (i = 0; i < y.length; i++) {
            if (elmnt == y[i]) {
                arrNo.push(i)
            } else {
                y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < x.length; i++) {
            if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
            }
        }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);
</script>