{{!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> --}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
 crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/shop/shopping_cart.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> {{!--
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> --}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/shop/cart_update.js"></script> {{# if this.products }}
<main class="page">
	<section class="shopping-cart dark container content row">
		<div class="col-md-12 col-lg-8">
			<div class="items">
				<div class="product">
					<div class="row">
						{{#each products}} {{#ifCond qty '>=' 1}}
						<div class="col-md-3">
							{{#with this.item.pics}}
							<img class="img-responsive" src="{{ this.[0] }}"> {{/with}}
						</div>
						<div class="col-md-8 info row">
							<div class="col-md-5 product-name">
								<div class="product-name">
									<h5>{{ this.item.title }}</h5>
									<div class="product-info">
										<div>Category:
											<span class="value">{{ this.item.category }} - {{ this.item.subcategory }}</span>
										</div>
										<div>Color:
											<span class="value">{{ this.color }}</span>
										</div>
										<div>Size:
											<span class="value">{{ this.size }}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<label for="quantity">Quantity:</label>
								<input class="quantity" type="number" value="{{ this.qty }}" min="1" class="form-control quantity-input" field='{{ this.id }}'>
							</div>
							<span>฿</span>
							<span class="eachPrice" id="updates_{{ this.id }}">{{ this.price }}</span>

							<div class="col-md-3 price">
								<br>
								<span class="price">฿ </span>
								<span id="perPrice_{{ this.id }}">{{ this.item.price }}</span>
								<br>
								<br>
								<br>
								<br>
								<br> {{!--
								<button class="remove" data-id={{ this.id }}>Remove</button> --}}
							</div>
						</div>
						{{/ifCond}} {{/each}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-4">
			<div class="summary">
				<h3>Summary</h3>
				<div class="summary-item">
					<span class="text">Subtotal</span>
					<span class="price">฿</span>
					<span id="subtotal" class="price">{{ totalPrice }}</span>
				</div>
				<div class="summary-item">
					<span class="text">Discount</span>
					<span class="price">฿</span>
					<span class="price">0</span>
				</div>
				<div class="summary-item">
					<span class="text">Shipping</span>
					<span class="price">฿</span>
					<span class="price">0</span>
				</div>
				<div class="summary-item">
					<span class="text">Total</span>
					<span class="price">฿</span>
					<span id="total" class="price">{{ totalPrice }}</span>
				</div>
				<input type="submit" class="checkout" value="Checkout">
			</div>
		</div>
	</section>
</main>
{{else}}
<main class="page">
	<section class="shopping-cart dark container content row">
		<div class="col-md-12 col-lg-8 center">
			<span>No items in cart!</span>
		</div>
		<div class="col-md-12 col-lg-4">
			<div class="summary">
				<h3>Summary</h3>
				<div class="summary-item">
					<span class="text">Subtotal</span>
					<span class="price">฿</span>
					<span id="subtotal" class="price">0</span>
				</div>
				<div class="summary-item">
					<span class="text">Discount</span>
					<span class="price">฿</span>
					<span class="price">0</span>
				</div>
				<div class="summary-item">
					<span class="text">Shipping</span>
					<span class="price">฿</span>
					<span class="price">0</span>
				</div>
				<div class="summary-item">
					<span class="text">Total</span>
					<span class="price">฿</span>
					<span id="total" class="price">0</span>
				</div>
			</div>
		</div>
	</section>
</main>
{{/if}}